services/ETSIINFSocial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:ns="http://sos.etsiinf.upm.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:tns="http://sos.etsiinf.upm.es" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://model.sos.etsiinf.upm.es/xsd" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://sos.etsiinf.upm.es">
    <wsdl2:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.sos.etsiinf.upm.es/xsd">
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PasswordPair">
                <xs:sequence>
                    <xs:element minOccurs="0" name="newpwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oldpwd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StatesList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="states" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Username">
                <xs:sequence>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FriendList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="friends" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="State">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddUserResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://model.sos.etsiinf.upm.es/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sos.etsiinf.upm.es">
            <xs:import namespace="http://model.sos.etsiinf.upm.es/xsd"/>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:PasswordPair"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyStates">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyStatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StatesList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendStates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Username"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendStatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StatesList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Username"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addFriend">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Username"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addFriendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeFriend">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Username"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeFriendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriends">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:FriendList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:State"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishStateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Username"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:AddUserResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl2:types>
    <wsdl2:interface name="ServiceInterface">
        <wsdl2:operation name="removeFriend" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:removeFriend" wsaw:Action="urn:removeFriend"/>
            <wsdl2:output element="ns:removeFriendResponse" wsaw:Action="urn:removeFriendResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="publishState" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:publishState" wsaw:Action="urn:publishState"/>
            <wsdl2:output element="ns:publishStateResponse" wsaw:Action="urn:publishStateResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyFriends" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyFriends" wsaw:Action="urn:getMyFriends"/>
            <wsdl2:output element="ns:getMyFriendsResponse" wsaw:Action="urn:getMyFriendsResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="logout" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="" pattern="http://www.w3.org/ns/wsdl/in-only">
            <wsdl2:input element="ns:logout" wsaw:Action="urn:logout"/>
        </wsdl2:operation>
        <wsdl2:operation name="addFriend" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:addFriend" wsaw:Action="urn:addFriend"/>
            <wsdl2:output element="ns:addFriendResponse" wsaw:Action="urn:addFriendResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyFriendStates" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyFriendStates" wsaw:Action="urn:getMyFriendStates"/>
            <wsdl2:output element="ns:getMyFriendStatesResponse" wsaw:Action="urn:getMyFriendStatesResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="removeUser" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:removeUser" wsaw:Action="urn:removeUser"/>
            <wsdl2:output element="ns:removeUserResponse" wsaw:Action="urn:removeUserResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="addUser" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:addUser" wsaw:Action="urn:addUser"/>
            <wsdl2:output element="ns:addUserResponse" wsaw:Action="urn:addUserResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyStates" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyStates" wsaw:Action="urn:getMyStates"/>
            <wsdl2:output element="ns:getMyStatesResponse" wsaw:Action="urn:getMyStatesResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="login" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:login" wsaw:Action="urn:login"/>
            <wsdl2:output element="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="changePassword" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="args0 #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:changePassword" wsaw:Action="urn:changePassword"/>
            <wsdl2:output element="ns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
        </wsdl2:operation>
    </wsdl2:interface>
    <wsdl2:binding name="ETSIINFSocialSoap11Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1">
        <wsdl2:operation ref="tns:removeFriend" wsoap:action="urn:removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:publishState" wsoap:action="urn:publishState">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriends" wsoap:action="urn:getMyFriends">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" wsoap:action="urn:logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" wsoap:action="urn:addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendStates" wsoap:action="urn:getMyFriendStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" wsoap:action="urn:removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" wsoap:action="urn:addUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyStates" wsoap:action="urn:getMyStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" wsoap:action="urn:login">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" wsoap:action="urn:changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="ETSIINFSocialHttpBinding" interface="tns:ServiceInterface" whttp:methodDefault="POST" type="http://www.w3.org/ns/wsdl/http">
        <wsdl2:operation ref="tns:removeFriend" whttp:location="removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:publishState" whttp:location="publishState">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriends" whttp:location="getMyFriends">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" whttp:location="logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" whttp:location="addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendStates" whttp:location="getMyFriendStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" whttp:location="removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" whttp:location="addUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyStates" whttp:location="getMyStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" whttp:location="login">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" whttp:location="changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="ETSIINFSocialSoap12Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <wsdl2:operation ref="tns:removeFriend" wsoap:action="urn:removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:publishState" wsoap:action="urn:publishState">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriends" wsoap:action="urn:getMyFriends">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" wsoap:action="urn:logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" wsoap:action="urn:addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendStates" wsoap:action="urn:getMyFriendStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" wsoap:action="urn:removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" wsoap:action="urn:addUser">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyStates" wsoap:action="urn:getMyStates">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" wsoap:action="urn:login">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" wsoap:action="urn:changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:service name="ETSIINFSocial" interface="tns:ServiceInterface">
        <wsdl2:endpoint name="ETSIINFSocialHttpSoap11Endpoint" binding="tns:ETSIINFSocialSoap11Binding" address="http://localhost:8080/axis2/services/ETSIINFSocial"/>
        <wsdl2:endpoint name="ETSIINFSocialHttpSoap12Endpoint" binding="tns:ETSIINFSocialSoap12Binding" address="http://localhost:8080/axis2/services/ETSIINFSocial"/>
        <wsdl2:endpoint name="ETSIINFSocialHttpEndpoint" binding="tns:ETSIINFSocialHttpBinding" address="http://localhost:8080/axis2/services/ETSIINFSocial"/>
    </wsdl2:service>
</wsdl2:description>
